/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
    color: #000;
    font-size: 12px;
}

.wp-pagenavi a, .wp-pagenavi span {
    color: #000;
	text-decoration: none;
	padding: 3px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {

}

.wp-pagenavi span.current {
    color: #9d9d9d;
    font-weight: bold;
}
