<div class="hero is-{{ .Site.Params.introheight }}">
<!-- Possible hero-head not used -->
    <!-- Super sweet Hero body title -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Title and tagline -->
            <h1 class="bold-title fade-in one">Hi, I'm {{ .Site.Params.firstname }}.</h1>
            <h3 class="subtitle is-3 fade-in two">{{ .Site.Params.tagline }}</h3>
            <!-- End title and tagline -->
            <!-- Some social icons -->
            <div class="fade-in three">{{ partial "social.html" . }}</div>
            <!-- End top social icons -->
        </div>
    </div> <!-- Hero body title end -->
    <!-- Hero foot has nav bar -->
    <div class="hero-foot fade-in three">
    <hr>
    <nav class="nav-center">
      <a class="nav-item" href="/">Home</a>
      {{ if .Site.Params.showprojects }}
      <a class="nav-item" href="/#projects">Projects</a>
      {{ end }}
      {{ if .Site.Params.showblog }}
      <a class="nav-item" href="/blog">Blog</a>
      {{ end }}
        <a class="nav-item" href="/#about">About</a>
    </nav>
    <hr>
    </div><!-- Done with nav bar -->
</div><!-- Done with Hero -->
</div><!-- End of top section -->
