:root {
  --maincolor: #8f2b9b !important;
  --bordercl: #8f2b9b !important;
  --callouctcolor: dodgerblue !important;
  --hovercolor: #8f2b9b !important;
  --darkMaincolor: #8f2b9b !important;
  --bgcolor: #fffff8;
}

html {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
  background: var(--bgcolor);
}

a:hover {
  background-color: var(--hovercolor);
  color: var(--bgcolor) !important;
}

/* list box */
.list-item {
  border: 1px solid var(--bordercl);
  border-radius: 0.2em;
  box-shadow: 5px 5px 7px #f1e9fd;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 2em 0 2em 0;
}
.list-item .description {
  padding: 1.75em;
}
.list-item .readmore {
  display: inline-block;
  margin: 0;
  padding: 0.3em 0.8em;
  border-radius: 3rem;
}
