---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/projects
  label: Projects
  create: all
  match: "**/*"
- type: directory
  path: content/quote
  label: Quote
  create: all
  match: "**/*"
- type: directory
  path: content/blog
  label: Blog
  create: all
  match: "**/*"
- type: directory
  path: content/lifestyle
  label: Lifestyle
  create: all
  match: "**/*"
- type: directory
  path: content/podcasts
  label: Podcasts
  create: all
  match: "**/*"
upload_dir: static/blog
public_path: "/blog"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:-:year:-:month:-:day:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.58.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.58.2
