{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="background blog-header"></header>
<!--Header-->

<!-- Blog -->
<div class="container">
	<div class="article">
		<div class="row">
			<div class="col-md-12">
				<a class="article__back-link" href="/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back</a>

				<div class="row">
					<div class="col-md-12">
						<h1 id="blog_header" class="section__title"><a href="{{ .Section | relURL }}"
								alt="{{ .Section }}">{{ .Section }}</a>: Latest Posts_</h1>
						<p>Show more collections</p>
						<ul>
							<li><a href="https://www.heroku.com/podcasts/all" target="_blank"
									title="A collection of podcasts with Heroku engineers, developers, and product managers">Heroku
									Podcasts</a></li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 section__resume resume-list">
						{{ range $.Site.Data.podcasts.sounds }}
						<div class="resume-list__block">
							<h2 class="resume-list__block-title"><a href="{{ ._xmlUrl }}"
									target="_blank">{{ ._text }}</a></h2>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog -->

{{ partial "footer.html" . }}