<div class="row" style="background: #f1e9fd; display: block; padding: 20px; margin: 40px; border-radius: 10px; border-left: solid 5px #5e497c; color: #5e497c; font-size: 16px;">
    <p>
        <a href="https://news.avelino.run/" target="_blank">Newsletter</a> about software engineering, team management, team building, books and lots of notes I take after reading/studying (mine or yours)… :D
    </p>
    <div id="custom-substack-embed"></div>
    <script>
        window.CustomSubstackWidget = {
            substackUrl: "news.avelino.run",
            placeholder: "example@gmail.com",
            buttonText: "assinar ❤",
            theme: "custom",
            colors: {
              primary: "#bd93f9",
              input: "#5e497c",
              email: "#bd93f9",
              text: "#5e497c",
            }
        };
    </script>
    <script src="https://substackapi.com/widget.js" async></script>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MHKZRCJN0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MHKZRCJN0C');
</script>
