<div class="row" style="background: #FEFFE0; display: block; padding: 20px; margin: 40px; border-radius: 10px; border-left: solid 5px #664d03; color: #664d03; font-size: 16px;">
    <p>
        Uma <a href="https://buttondown.email/avelino" ref="nofollow" target="_blank">newsletter</a> sobre engenharia de software, gestão de time, formação de time, livros e muitas anotações que faço depois de ler/estudar (o meu ou o seu)... :D
    </p>
    <form action="https://buttondown.email/api/emails/embed-subscribe/avelino" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/avelino', 'popupwindow')" class="embeddable-buttondown-form">
        <label for="bd-email">E-mail</label>
        <input type="email" name="email" id="bd-email" style="border: solid 1px #664d03;" />
        <input type="hidden" value="1" name="embed" />
        <input type="submit" value="se inscrever" style="background-color: #f9da18; border: solid 2px #664d03;" />
    </form>
</div>
<hr />