{{/* layouts/partials/schema-post.html */}}
{{- $base := .Site.BaseURL -}}
{{- $kind := .Kind -}}
{{- $isHome := eq $kind "home" -}}
{{- $isSection := eq $kind "section" -}}
{{- $isTaxonomy := or (eq $kind "taxonomy") (eq $kind "taxonomyTerm") -}}
{{- $isList := or $isSection $isTaxonomy -}}
{{- $isPost := eq $kind "page" -}}
{{- $isAbout := eq .RelPermalink "/about/" -}}

{{- /* Build @graph array */ -}}
{{- $graph := slice -}}

{{- /* Rich Person schema using authorInfo from config */ -}}
{{- $authorInfo := .Site.Params.authorInfo -}}
{{- $pubName := or $authorInfo.name .Site.Author.name "Thiago Avelino" -}}
{{- $pubURL := printf "%sabout/" $base -}}

{{- $publisherPerson := dict "@type" "Person" "name" $pubName "url" $pubURL -}}
{{- with $authorInfo -}}
  {{- with .givenName }}{{ $publisherPerson = merge $publisherPerson (dict "givenName" .) }}{{ end -}}
  {{- with .familyName }}{{ $publisherPerson = merge $publisherPerson (dict "familyName" .) }}{{ end -}}
  {{- with .jobTitle }}{{ $publisherPerson = merge $publisherPerson (dict "jobTitle" .) }}{{ end -}}
  {{- with .worksFor }}{{ $publisherPerson = merge $publisherPerson (dict "worksFor" (dict "@type" "Organization" "name" .)) }}{{ end -}}
  {{- with .alumniOf }}{{ $publisherPerson = merge $publisherPerson (dict "alumniOf" (dict "@type" "EducationalOrganization" "name" .)) }}{{ end -}}
  {{- with .knowsAbout }}{{ $publisherPerson = merge $publisherPerson (dict "knowsAbout" .) }}{{ end -}}
  {{- with .sameAs }}{{ $publisherPerson = merge $publisherPerson (dict "sameAs" .) }}{{ end -}}
{{- end -}}
{{- with .Site.Params.logo }}{{ $publisherPerson = merge $publisherPerson (dict "image" (absURL .)) }}{{ end -}}

{{- /* WebSite node */ -}}
{{- $website := dict
    "@type" "WebSite"
    "@id" (printf "%s#website" $base)
    "url" $base
    "name" .Site.Title
    "inLanguage" .Site.Language.Lang
    "publisher" $publisherPerson
    "potentialAction" (dict
      "@type" "SearchAction"
      "target" (printf "%ssearch/?q={search_term_string}" $base)
      "query-input" "required name=search_term_string"
    )
  -}}
{{- $graph = $graph | append $website -}}

{{- if $isPost -}}
  {{- /* Description fallback: .Description -> .Summary -> site param */ -}}
  {{- $description := "" -}}
  {{- with .Description -}}
    {{- $description = . -}}
  {{- else -}}
    {{- $description = .Summary -}}
    {{- if not $description -}}
      {{- with .Site.Params.description -}}{{- $description = . -}}{{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $sd := dict
      "@type" "BlogPosting"
      "@id" (printf "%s#article" .Permalink)
      "mainEntityOfPage" .Permalink
      "headline" .Title
      "datePublished" ((or .PublishDate .Date).Format "2006-01-02T15:04:05Z07:00")
      "dateModified" ((or .Lastmod .Date).Format "2006-01-02T15:04:05Z07:00")
      "url" .Permalink
      "isAccessibleForFree" true
      "inLanguage" .Site.Language.Lang
      "wordCount" .WordCount
    -}}

  {{- with $description }}
    {{- $sd = merge $sd (dict "description" .) -}}
  {{- end -}}

  {{- with .Params.subtitle -}}
    {{- $sd = merge $sd (dict "alternativeHeadline" .) -}}
  {{- end -}}

  {{- with .Section -}}
    {{- $sd = merge $sd (dict "articleSection" .) -}}
  {{- end -}}

  {{- /* Keywords from tags/keywords */ -}}
  {{- $keywords := slice -}}
  {{- with .Params.tags -}}
    {{- range . -}}{{- $keywords = $keywords | append . -}}{{- end -}}
  {{- end -}}
  {{- with .Params.keywords -}}
    {{- if (reflect.IsSlice .) -}}
      {{- range . -}}{{- $keywords = $keywords | append . -}}{{- end -}}
    {{- else -}}
      {{- $keywords = $keywords | append . -}}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $keywords) 0 -}}
    {{- $sd = merge $sd (dict "keywords" (delimit $keywords ", ")) -}}
  {{- end -}}

  {{- /* Author (fallback to site author / Thiago Avelino) */ -}}
  {{- $authorName := or .Params.author .Site.Author.name "Thiago Avelino" -}}
  {{- if $authorName -}}
    {{- $author := dict "@type" "Person" "name" $authorName -}}
    {{- with (or .Params.authorURL (or .Site.Author.url (or .Site.Author.link (or .Site.Author.homepage "https://avelino.run")))) -}}
      {{- $author = merge $author (dict "url" .) -}}
    {{- end -}}
    {{- with .Site.Author.sameAs -}}
      {{- $author = merge $author (dict "sameAs" .) -}}
    {{- end -}}
    {{- $sd = merge $sd (dict "author" $author) -}}
  {{- end -}}

  {{- /* Publisher (Organization = site) */ -}}
  {{- $publisher := dict "@type" "Organization" "name" .Site.Title -}}
  {{- with .Site.Params.logo -}}
    {{- $publisher = merge $publisher (dict "logo" (dict "@type" "ImageObject" "url" (absURL .))) -}}
  {{- end -}}
  {{- with .Site.BaseURL -}}
    {{- $publisher = merge $publisher (dict "url" .) -}}
  {{- end -}}
  {{- with .Site.Params.sameAs -}}
    {{- $publisher = merge $publisher (dict "sameAs" .) -}}
  {{- end -}}
  {{- $sd = merge $sd (dict "publisher" $publisher) -}}

  {{- /* Images (ImageObject list) */ -}}
  {{- $imageList := slice -}}
  {{- with .Params.images -}}
    {{- range . -}}
      {{- $imageList = $imageList | append (dict "@type" "ImageObject" "url" (absURL .)) -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.img -}}
    {{- $imageList = $imageList | append (dict "@type" "ImageObject" "url" (absURL .)) -}}
  {{- end -}}
  {{- if eq (len $imageList) 0 -}}
    {{- with .Site.Params.logo -}}
      {{- $imageList = $imageList | append (dict "@type" "ImageObject" "url" (absURL .)) -}}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $imageList) 0 -}}
    {{- $sd = merge $sd (dict "image" $imageList) -}}
    {{- $firstImg := index $imageList 0 -}}
    {{- $thumb := index $firstImg "url" -}}
    {{- $sd = merge $sd (dict "thumbnailUrl" $thumb) -}}
  {{- end -}}

  {{- /* Copyright */ -}}
  {{- $sd = merge $sd (dict "copyrightYear" (.Date.Format "2006")) -}}
  {{- with (or .Params.copyrightHolder .Site.Author.name .Site.Title) -}}
    {{- $sd = merge $sd (dict "copyrightHolder" .) -}}
  {{- end -}}

  {{- $graph = $graph | append $sd -}}

{{- else if $isList -}}
  {{- /* CollectionPage for list/section/taxonomy pages */ -}}
  {{- $items := slice -}}
  {{- range $i, $p := .Pages -}}
    {{- $items = $items | append (dict
      "@type" "ListItem"
      "position" (add $i 1)
      "url" $p.Permalink
      "name" $p.Title
    ) -}}
  {{- end -}}
  {{- $collection := dict
      "@type" "CollectionPage"
      "@id" (printf "%s#collection" .Permalink)
      "name" .Title
      "url" .Permalink
      "inLanguage" .Site.Language.Lang
      "mainEntity" (dict "@type" "ItemList" "itemListElement" $items)
    -}}
  {{- $graph = $graph | append $collection -}}

{{- else -}}
  {{- /* Generic WebPage (home or other non-post pages) */ -}}
  {{- $desc := "" -}}
  {{- with .Params.description -}}
    {{- $desc = . -}}
  {{- else -}}
    {{- $desc = (.Summary | plainify) -}}
  {{- end -}}
  {{- $webpage := dict
      "@type" "WebPage"
      "@id" (printf "%s#webpage" .Permalink)
      "url" .Permalink
      "name" .Title
      "inLanguage" .Site.Language.Lang
    -}}
  {{- with $desc -}}
    {{- $webpage = merge $webpage (dict "description" .) -}}
  {{- end -}}

  {{- /* For About page, add Person as mainEntity */ -}}
  {{- if $isAbout -}}
    {{- $webpage = merge $webpage (dict "mainEntity" $publisherPerson) -}}
    {{- /* Also add standalone Person to graph for better discovery */ -}}
    {{- $personWithId := merge $publisherPerson (dict "@id" (printf "%s#person" $base)) -}}
    {{- $personWithId = merge $personWithId (dict "description" "GitHub Star, CTO, and open source maintainer with 15+ years of experience. Creator of awesome-go and contributor to hundreds of open source projects.") -}}
    {{- $graph = $graph | append $personWithId -}}
  {{- end -}}

  {{- $graph = $graph | append $webpage -}}
{{- end -}}

<script type="application/ld+json">
  {{- dict "@context" "https://schema.org" "@graph" $graph | jsonify -}}
  </script>